main {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #fc0303, #fc0303);
    color: #fff;
}

input, select {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #8e44ad;
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #732d91;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
