/* Глобальные стили */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Основной контент */
main {
    flex: 1; /* Заполняет всё доступное пространство */
}

/* Навигация */
header {
    background-color: #3498db;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f1c40f;
}

/* Подвал */
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}
